
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'musicalina' ;
    src: url('fonte/musicalina.ttf') format(truetype),
    url('fonte/musicalina.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --value: red;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: black;
   
}

.container{
    padding: 70px 0;
}

/*Barra de Navegação*/

header, .navbar{
    background-color: #353D41;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .ui.inverted.segment {
    width: 100%;
}

header .ui.inverted.secondary.pointing.menu {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
}

header .ui.inverted.secondary.pointing.menu .navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

header .ui.inverted.secondary.pointing.menu .logo a {
    display: flex;
    align-items: center;
    font-family: 'musicalina', sans-serif;
    font-size: 2.7em;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

header .ui.inverted.secondary.pointing.menu #logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 65px;
    height: 65px;
    font-size: 2.5em;
    border-radius: 100%;
    margin-right: 10px;
}

.navbar-brand{
    padding: 0;
    color: #FFF;
    font-family: 'musicalina';
    font-size: 2.5em;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a{
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem.8rem; /*Transfere o tamanho da fonte para 1rem e 8rem refer-se a 80% desse valor*/
}
/*Principal*/

main{
    margin-top: 100px;
}


.table tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 5rem;
}

.table tbody tr td {
    background-color: black;
} 

.table tbody tr {
    width: 70%;
    height: 15rem;
}

.table tbody tr:last-child {
    margin-bottom: 100px;
}

/* Imagens */

.table tbody tr .imagens{
    width: 300px;
}

.table tbody tr .imagens img {
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.table tbody tr .imagens img:hover {
    transform: scale(1.03);
}

/* Musicas */

.table tbody tr .musicas {
    color: white;
}

.table tbody tr .musicas p {
    margin-bottom: 70px;
}
.music-player {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: auto;

    background-color: rgb(32, 32, 32);
    color: white;

    padding: 10px;
    padding-left: 20px;

    transition: bottom 0.3s ease; /* Adiciona uma transição suave */
  }

  .music-player button {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .music-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .music-info .music-info-names {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5rem;
    }
    
  .music-info .music-info-names #songName {
      font-weight: 700;
    }   
  .music-info .music-info-names #artistName {
      font-weight: 300;
    }   
  
  .music-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 7px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
  }

  .controls .controls-button {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #playPauseBtn,#skipBtn, #backBtn {
    padding: 7px;
    font-size: 20px;

    border-radius: 50%;

    outline: none;
    border: none;

    background-color: rgb(23, 23, 23);
    color: white;
  }

  #playPauseBtn {
    background-color: transparent;
  }

  #playPauseBtn #play {
    font-size: 35px;
    padding: 0;
  }
  
  .music-player #seekBar {
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  input[type = range] {
    -webkit-appearance: none;
    appearance: none;

    background-color: rgb(53, 52, 52);

    border-radius: 2px;
    height: 5px;
    cursor: pointer;

    overflow: hidden;
  }


  input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 100px;
      width: 100px;
      border-radius: 50%;  
      cursor: pointer;

      transition: 0.1s ease;

      background-color: white;
      box-shadow: -407px 0 0 400px white;
  }



  @media screen and (max-width: 768px){

    .music-info img {
      padding-left: 10px;
    }

    #backBtn{
      margin-left: 10%;
    }
    
    #skipBtn{
      margin-right: 10%;
    }
  }

  


/*Rodapé*/

footer{
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: auto;
    color: white;
}

footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer > div > strong,p{
    cursor: pointer;
    color: white;
}

footer > div > img{
    cursor: pointer;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

/* Media */

@media (max-width: 1080px) {
    
    .table tbody tr .musicas p {
        margin-bottom: 20px;
        font-size: 13px;
        flex-wrap: nowrap;
        flex-grow: 1;
    }
}

@media (max-width: 890px) {
    .table tbody tr .musicas p {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .table tbody tr .musicas audio {
        height: 40px;
    }

    .table tbody tr {
        width: 90%;
        height: 15rem;
    }
}

@media (max-width: 620px) {
    .table tbody tr .imagens{
        width: 250px;
    }
    
    .table tbody tr .imagens img {
        flex: 1;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    
footer > div > strong,p{
    font-size: 10px;
}
}

@media (max-width: 580px) {
    .table tbody tr {
        width: 100%;
        height: 10rem;
    }
    .table tbody tr .musicas p {
        font-size: 9px;
    }
}

@media (max-width: 500px) {
    .table tbody tr .musicas p {
        margin-bottom: 20px;
        font-size: 7px;
    }

    .table tbody tr .imagens{
        width: 250px;
    }

    .table tbody tr .musicas audio {
        height: 35px;
        width: 245px;
    }
}

@media (max-width: 400px) {
    .table tbody tr .musicas h3 {
        font-size: 15px;
    }
    .table tbody tr .musicas h5 {
        font-size: 13px;
    }
    .table tbody tr .musicas audio {
        height: 35px;
        width: 240px;
    }
}

@media (max-width: 375px) {
    .table tbody tr .musicas p {
        font-size: 6px;
    }
}


